{% extends 'base.html' %}
{% block title %}
    Records from DB
{% endblock %}

{% block body %}

Enter number of records(All items by default):
<form method="post">
    <input type="number" name="number" id="number"><br>
    <input type="submit" value="Send">
</form>


<div class="container">
    Records:
    {% for el in fulllist %}
    {{ el["kind"] }}
    {{ el["collectionName"] }}
    {{ el["trackName"] }}
    {{ el["collectionPrice"] }}
    {{ el["trackPrice"] }}
    {{ el["primaryGenreName"] }}
    {{ el["trackCount"] }}
    {{ el["trackNumber"] }}
    {{ el["releaseDate"] }}
    <br>
    {% endfor %}
    
</div>
{% endblock %}
